@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bgColor: #f6f6f6;
    --text: #000;
    --borderColor: #ccc;
    --body: #f6f6f6;
}

body,
html {
    overflow-x: hidden;
    min-height: 100vh;
}

body.dark-mode,
html.dark-mode {
    background: #2a2a2a;
    --bgColor: #2a2a2a;
    --borderColor: #000;
    --text: #ffff;
}

.shadow-mm {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.line {
    text-decoration: line-through;
    opacity: 0.5;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #000;
}

.actions .active {
    color: blue;
    font-weight: 600;
}

.right-0 {
    right: 50px;
    transition: all .5s linear;
}

.bg-1 {
    background: linear-gradient(to left, #dd9214, #ecc480);
}

.transition1 {
    transition: all .5s linear;
}

.checked {
    text-decoration: line-through;
    color: #bcbcbc;
}

.li_item:hover .li_btn {
    opacity: 1;
    visibility: visible;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -webkit-clip-path: circle(46% at 50% 50%);
    clip-path: circle(46% at 50% 50%);
    height: 20px;
    width: 20px;
    background: #f8f7f7;
    border: 1px solid #000;;
    position: relative;
    cursor: pointer;
    accent-color: #fff;
    position: relative;
}

input[type="checkbox"]::before {
    display: none;
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url('../public/icon-check.svg');
    background-position: center center;
    background-size: contain;
    background-size: 70%;
    background-repeat: no-repeat;
}

input[type="checkbox"]:checked {
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

input[type="checkbox"]:checked::before {
    display: block;
}

@media screen and (max-width:767px) {}